// Variables
// ===================

$padding:40px;
%container,
.container{
    @include container(1260px, $padding);
}

%formInput{
    outline: none;
    border: none;
}

.active{
    color: var(--colorActive);
}

%wrap{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.title,
%title{
    font-weight:700;
    font-size: rem(32);
    line-height: 1.4;
}

%btn{
    padding: space(1) space(2.5);
    transition: .5s;
    cursor:pointer;
    font-size:rem(16);
    border: none;
    border-radius: 5px;
    margin-bottom: space(.5);
}

img{
    width: 100%;
}

.main{
    min-height: 446px;
}