.project-admin{
    border-radius: space(1);
    background: var(--colorTertiaire);
}

.cart-add{
    padding-top: space(2);
    padding-bottom: space(2);
    border: 1px solid var(--colorActive);
    margin-top: space(2);
    text-align: center;
}