.project-admin{
}

.cart-add{
    margin-bottom: space(2);
    border: 1px solid var(--colorActive);
    text-align: center;
    border-radius: space(1);
    color: var(--colorActive);
    a{
        display: block;
        padding-top: space(2);
        padding-bottom: space(2);
        transition: cubic-bezier(0.55, 0.085, 0.68, 0.53) .5s;
    }

    svg{
        height: 30px;
        padding-top: 6px;
        transition: cubic-bezier(0.55, 0.085, 0.68, 0.53) .5s;
    }

    a:hover{
        background: var(--colorActive);
        color:#fff;
    }
}