.section-project{
    @extend %container;
}

.section-title{
    @extend %title;
}

.section-para{
    font-size: rem(20);
    line-height: 2rem;
    margin-top: space(1);
    margin-bottom: space(4);
}

.section-carts{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: space(8);
    margin-top: space(16);
}
